<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Gerenciador AcompanhaIF</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administração
    </div>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/encaminhamentos">
            <i class="fas fa-fw fa-paper-plane"></i> <!-- Ícone de Gráficos -->
            <span>Encaminhamentos</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/questionarios">
            <i class="fas fa-fw fa-paper-plane"></i> <!-- Ícone de Gráficos -->
            <span>Questionarios</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/setores">
            <i class="fas fa-fw fa-paper-plane"></i> <!-- Ícone de Gráficos -->
            <span>Setores</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
        Alunos
    </div>


    <li class="nav-item">
        <a class="nav-link" href="/atendimentos">
            <i class="fas fa-fw fa-headset"></i> <!-- Ícone de Atendimento -->
            <span>Atendimentos</span>
        </a>
    </li>
<!--     
    <li class="nav-item">
        <a class="nav-link" href="/entrevistas">
            <i class="fas fa-fw fa-comments"></i>
            <span>Entrevistas</span>
        </a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="/usuarios">
            <i class="fas fa-fw fa-graduation-cap"></i> <!-- Ícone de Pesquisas -->
            <span>Usuários</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2">
            <strong>O Gerenciador do AcompanhaIF</strong>
            é um gerenciador html controlado por javascript
            que permite o controle dos dados do mesmo.
        </p>
    </div>

</ul>
<!-- End of Sidebar -->